
<%- include('partials/header.ejs') %>
<form action="/create" method="post">   
<%- include('partials/form.ejs') %>
<div class="col-12 submit">
    <div class="mb-3 d-flex align-items-center justify-content-center">
        <input type="submit" class="btn" id="submit2" name="submit" placeholder="Enter Post content" value="submit" />
      </div>
</div>
<%- include('partials/footer.ejs') %>
