
<%- include('partials/header.ejs') %>
<form action="/" method="post">   
<%- include('partials/form.ejs') %>
<div class="col-12">
            <div class="mb-3 d-flex align-items-center justify-content-center">
                <input type="submit" class="btn" id="submit1" name="submit" placeholder="Enter Post content" value="submit" />
              </div>
        </div>
    <%- include('partials/footer.ejs') %>
